In [15]:
import pandas as pd
df = pd.read_csv('D:\python\machinelearing\mpg.csv',na_values=['?','N/a'])
df

,Unnamed: 0,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,1,audi,a4,NaN,1999.0,4.0,auto(l5),f,18.0,29.0,p,compact
1,2,audi,a4,NaN,1999.0,4.0,manual(m5),f,NaN,29.0,p,compact
2,3,audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p,compact
3,4,audi,a4,NaN,NaN,NaN,NaN,f,NaN,NaN,p,compact
4,5,audi,a4,NaN,NaN,6.0,auto(l5),f,16.0,26.0,p,compact
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,volkswagen,passat,2.0,2008.0,4.0,auto(s6),f,19.0,28.0,p,midsize
230,231,volkswagen,passat,2.0,2008.0,4.0,manual(m6),f,21.0,29.0,p,midsize
231,232,volkswagen,passat,2.0,1999.0,6.0,auto(l5),f,15.0,15.0,p,midsize
232,233,volkswagen,passat,2.0,1999.0,6.0,manual(m5),f,18.0,15.0,p,midsize
233,234,volkswagen,passat,2.0,2008.0,6.0,auto(s6),f,NaN,26.0,p,midsize

In [21]:
fill_nan =df.fillna(0.0)
fill_nan

,Unnamed: 0,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,1,audi,a4,0.0,1999.0,4.0,auto(l5),f,18.0,29.0,p,compact
1,2,audi,a4,0.0,1999.0,4.0,manual(m5),f,0.0,29.0,p,compact
2,3,audi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,p,compact
3,4,audi,a4,0.0,0.0,0.0,0.0,f,0.0,0.0,p,compact
4,5,audi,a4,0.0,0.0,6.0,auto(l5),f,16.0,26.0,p,compact
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,volkswagen,passat,2.0,2008.0,4.0,auto(s6),f,19.0,28.0,p,midsize
230,231,volkswagen,passat,2.0,2008.0,4.0,manual(m6),f,21.0,29.0,p,midsize
231,232,volkswagen,passat,2.0,1999.0,6.0,auto(l5),f,15.0,15.0,p,midsize
232,233,volkswagen,passat,2.0,1999.0,6.0,manual(m5),f,18.0,15.0,p,midsize
233,234,volkswagen,passat,2.0,2008.0,6.0,auto(s6),f,0.0,26.0,p,midsize

In [16]:
sum_nan = df.isnull().sum(axis=1)
sum_nan

0      1
1      2
2      8
3      6
4      2
      ..
229    0
230    0
231    0
232    0
233    1
Length: 234, dtype: int64

In [20]:
data_nan = df.isnull().any(axis=1)
df[~data_nan]

,Unnamed: 0,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
6,7,audi,a4,2.0,2008.0,6.0,auto(av),f,18.0,27.0,p,compact
7,8,audi,a4 quattro,2.0,1999.0,4.0,manual(m5),4,18.0,26.0,p,compact
9,10,audi,a4 quattro,2.0,2008.0,4.0,manual(m6),4,20.0,28.0,p,compact
10,11,audi,a4 quattro,2.0,2008.0,4.0,auto(s6),4,19.0,27.0,p,compact
15,16,audi,a6 quattro,2.0,1999.0,6.0,auto(l5),4,15.0,24.0,p,midsize
...,...,...,...,...,...,...,...,...,...,...,...,...
228,229,volkswagen,passat,2.0,1999.0,4.0,auto(l5),f,18.0,29.0,p,midsize
229,230,volkswagen,passat,2.0,2008.0,4.0,auto(s6),f,19.0,28.0,p,midsize
230,231,volkswagen,passat,2.0,2008.0,4.0,manual(m6),f,21.0,29.0,p,midsize
231,232,volkswagen,passat,2.0,1999.0,6.0,auto(l5),f,15.0,15.0,p,midsize
232,233,volkswagen,passat,2.0,1999.0,6.0,manual(m5),f,18.0,15.0,p,midsize

In [12]:
sum_nan = df.isnull().sum()
sum_nan

Unnamed: 0       0
manufacturer     0
model            0
displ           33
year             0
cyl              0
trans            0
drv              0
cty              3
hwy              1
fl               0
class            0
dtype: int64

In [23]:
data_clean_col=df.drop(columns=['displ','cty','hwy'])
data_clean_col

     Unnamed: 0 manufacturer   model    year  cyl       trans  drv fl    class
0             1         audi      a4  1999.0  4.0    auto(l5)    f  p  compact
1             2         audi      a4  1999.0  4.0  manual(m5)    f  p  compact
2             3         audi     NaN     NaN  NaN         NaN  NaN  p  compact
3             4         audi      a4     NaN  NaN         NaN    f  p  compact
4             5         audi      a4     NaN  6.0    auto(l5)    f  p  compact
..          ...          ...     ...     ...  ...         ...  ... ..      ...
229         230   volkswagen  passat  2008.0  4.0    auto(s6)    f  p  midsize
230         231   volkswagen  passat  2008.0  4.0  manual(m6)    f  p  midsize
231         232   volkswagen  passat  1999.0  6.0    auto(l5)    f  p  midsize
232         233   volkswagen  passat  1999.0  6.0  manual(m5)    f  p  midsize
233         234   volkswagen  passat  2008.0  6.0    auto(s6)    f  p  midsize

[234 rows x 9 columns]